node_modules
.env

# el archivo .env se crea cada vez que se abre el archivo.
# se intala: npm i dotenv
# se crea un archivo .env
# dentro de .env:
#   PORT: "3000"
#   MONGODB_URL: "mongodb+srv://lafuentelhmaria:S9ucPpa7bpUE3tTt@cluster0.fhuwtg0.mongodb.net/users?retryWrites=true&w=majority&appName=Cluster0"

# apuntes mongo_url: 
# después del nombre de usuario hay que poner la contraseña quitando los <password>
# después de .net/ se pone el nombre de la base de datos a la que nos conectamos, que es el nombre que contiene la colección.